@using HomeManager.Models.Entities

@inject SignInManager<User> SignInManager

<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @AdminNavViews.IndexNavClass(ViewContext)" id="index" asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a></li>
    <hr />
    <li class="nav-item"><a class="nav-link @AdminNavViews.IndexManageNavClass(ViewContext)" id="indexManage" asp-area="Admin" asp-controller="Manage" asp-action="Index">Manage</a></li>
    <li class="nav-item"><a class="nav-link @AdminNavViews.RolesNavClass(ViewContext)" id="roles" asp-area="Admin" asp-controller="Manage" asp-action="Roles">Roles</a></li>
    <li class="nav-item"><a class="nav-link @AdminNavViews.UsersNavClass(ViewContext)" id="users" asp-area="Admin" asp-controller="Manage" asp-action="Users">Users</a></li>
    <li class="nav-item"><a class="nav-link @AdminNavViews.UserRolesNavClass(ViewContext)" id="userRoles" asp-area="Admin" asp-controller="Manage" asp-action="UserRoles">User Roles</a></li>
    <hr />
    <li class="nav-item"><a class="nav-link @AdminNavViews.IndexFinanceNavClass(ViewContext)" id="indexFinance" asp-area="Admin" asp-controller="Finance" asp-action="Index">Finance</a></li>
    <li class="nav-item"><a class="nav-link @AdminNavViews.CategoriesNavClass(ViewContext)" id="categories" asp-area="Admin" asp-controller="Finance" asp-action="Categories">Categories</a></li>
    <li class="nav-item"><a class="nav-link @AdminNavViews.TypesNavClass(ViewContext)" id="types" asp-area="Admin" asp-controller="Finance" asp-action="Types">Types</a></li>
    <li class="nav-item"><a class="nav-link @AdminNavViews.StatusNavClass(ViewContext)" id="status" asp-area="Admin" asp-controller="Finance" asp-action="Status">Status</a></li>
</ul>
