@using HomeManager.Models.Entities
@inject SignInManager<User> SignInManager

<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="index" asp-action="Index">Index</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.RolesNavClass(ViewContext)" id="roles" asp-action="Roles">Roles</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.UsersNavClass(ViewContext)" id="users" asp-action="Users">Users</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.UserRolesNavClass(ViewContext)" id="userRoles" asp-action="UserRoles">User Roles</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.CategoriesNavClass(ViewContext)" id="categories" asp-action="Categories">Categories</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.TypesNavClass(ViewContext)" id="types" asp-action="Types">Types</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.StatusNavClass(ViewContext)" id="status" asp-action="Status">Status</a></li>
</ul>
